Welcome to exercise one of “Apache Spark for Scalable Machine Learning on BigData”. In this exercise you’ll apply the basics of functional and parallel programming. 

Let’s start with a simple example. Let’s consider you have a list of integers.

Let’s find out what the size of this list is.

Note that we already provide an RDD object, so please have a look at the RDD API in order to find out what function to use:
https://spark.apache.org/docs/latest/api/python/pyspark.html#pyspark.RDD

The following link contains additional documentation:
https://spark.apache.org/docs/latest/rdd-programming-guide.html

EXERCISE 1

In [8]:
!pip install --upgrade pip

Requirement already up-to-date: pip in /opt/conda/envs/Python36/lib/python3.6/site-packages (20.0.2)

In [11]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-2.4.5.tar.gz (217.8 MB)
     |████████████████████████████████| 217.8 MB 11 kB/s s eta 0:00:01     |███████████████                 | 102.5 MB 48.0 MB/s eta 0:00:03     |██████████████████▋             | 126.4 MB 57.4 MB/s eta 0:00:02��█▍            | 131.8 MB 57.4 MB/s eta 0:00:02     |████████████████████████        | 162.6 MB 57.4 MB/s eta 0:00:01
Collecting py4j==0.10.7
  Downloading py4j-0.10.7-py2.py3-none-any.whl (197 kB)
     |████████████████████████████████| 197 kB 57.8 MB/s eta 0:00:01
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-2.4.5-py2.py3-none-any.whl size=218257928 sha256=7a3720c814e12e4fa27afae53d8ee520082f05558ef307660ec9fcaf535fca6b
  Stored in directory: /home/dsxuser/.cache/pip/wheels/84/30/e3/c51c5cd0229631e662d29d7b578a3e5949a4c8db033ffb70aa
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.7 pyspark-2.4.5

In [12]:
if not ('sc' in locals() or 'sc' in globals()):
    print('It seems you are note running in a IBM Watson Studio Apache Spark Notebook. You might be running in a IBM Watson Studio Default Runtime or outside IBM Waston Studio. Therefore installing local Apache Spark environment for you. Please do not use in Production')
    
#     from pip import main
#     main(['install', 'pyspark==2.4.5'])
    
    from pyspark import SparkContext, SparkConf
    from pyspark.sql import SparkSession

    sc = SparkContext.getOrCreate(SparkConf().setMaster("local[*]"))
    
    spark = SparkSession \
        .builder \
        .getOrCreate()

It seems you are note running in a IBM Watson Studio Apache Spark Notebook. You might be running in a IBM Watson Studio Default Runtime or outside IBM Waston Studio. Therefore installing local Apache Spark environment for you. Please do not use in Production

In [13]:
gt50 = lambda i: i > 50

In [14]:
rdd = sc.parallelize(range(100))

In [15]:
# please replace $$ with the correct characters
rdd.count()

100

You should see "100" as answer. Now we want to know the sum of all elements. Please again, have a look at the API documentation and complete the code below in order to get the sum.

In [16]:
rdd.sum()

4950

EXERCISE 2

In [17]:
from random import shuffle

In [18]:
rdd.filter(gt50).collect()

[51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [19]:
rdd.filter(lambda x : x > 50).collect()

[51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [20]:
rdd.filter(lambda x : x > 50).filter(lambda x: x < 75).collect()

[51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74]

EXERCISE 3

In [21]:
from pyspark.sql import Row

#Create Dataframe
df = spark.createDataFrame([Row(id=1, value='value1'),Row(id=2, value='value2')])

#Print DataFrame
df.show()

#print the schema
df.printSchema()

+---+------+
| id| value|
+---+------+
|  1|value1|
|  2|value2|
+---+------+

root
 |-- id: long (nullable = true)
 |-- value: string (nullable = true)

In [22]:
df2 = spark.createDataFrame([Row(SNo=1,Name='Arun',GPA=8),Row(SNo=2,Name='Akash',GPA=9)])

df2.show()

+---+-----+---+
|GPA| Name|SNo|
+---+-----+---+
|  8| Arun|  1|
|  9|Akash|  2|
+---+-----+---+

In [23]:
#Create Sql table/view
df.createOrReplaceTempView('df_view')

#Execute SQL query

df_result = spark.sql('select * from df_view')

df_result.show()

+---+------+
| id| value|
+---+------+
|  1|value1|
|  2|value2|
+---+------+